
ul, li {
    list-style: none;
}

img {
    border: none;
}

#pro_datail_table tr td {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

.commond {
    padding-left: 20px;
}

#describle_top {
    background-image: url(../../shop_image/red/goodsdescripTipTop.jpg);
    width: 750px;
    height: 50px;
    padding-left: 20px;
    color: #FFFFFF;
    font-weight: 900;
}

#describle_middle {
    width: 770px;
    background-image: url(../../shop_image/goodsdescripTipmiddle.jpg);
    background-repeat: repeat-y;
    font-size: 13px;
}

#describle_bottom {
    width: 770px;
    height: 15px;
    background-image: url(../../shop_image/goodsdescripTipbottom.jpg);
    background-repeat: no-repeat;
}

#profeatureTop {
    color: #c72803;
    font-size: 15px;
    font-weight: 900;
    margin-left: 10px;
}

#profeatureTopMain {
    margin-left: 10px;
    line-height: 23px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

#service_top {
    font-size: 17px;
    color: #c72803;
    width: 770px;
    font-weight: 900px;
}

#service_line {
    background-image: url(../../shop_image/service_top.jpg);
    width: 770px;
    height: 5px;
    background-repeat: repeat-x;
}

#service_main {
    width: 770px;
    padding-left: 10px;
    padding-right: 100px;
    font-size: 14px;
    line-height: 20px;
}

#messages {
    width: 770px;
    font-size: 13px;
}

#messages_top {
    background-image: url(../../shop_image/red/goodsdescripTipTop1.jpg);
}

#page a {
    font-size: 13px;
    text-decoration: none;
    margin-left: 10px;
    color: #8e8d8d;
}

#page a:hover {
    text-decoration: underline;
}

#goodTiptitle {
    border-bottom: #d02a05 solid 2px;
}

#contain_mess {
    height: 800px;
    margin-top: 20px;
}

#mess_box {
    margin-top: 15px;
    padding-top: 10px;
    border-top: #D9D9D9 dashed 1px;
}

#mess_text {
    width: 670px;
    height: 230px;
}

.leaveMesser {
    color: #c72803;
    font-size: 15px;
    font-weight: 900;
    padding-left: 10px;
}

#anonymity {
    height: 18px;
    width: 18px;
}

#anonymity_text {
    color: #242424;
    font-size: 14px;
    font-family: ����;
}